@use 'base-view-styles';

// accommodate custom ILLiad tiles in account overview page
nde-requests-overview,
nde-loans-overview {
  > mat-card {
    height: auto !important;
    margin-bottom: 16px;
  }
}

.overview-cards .account-card-wrapper {
  display: flex;
  flex-direction: column;

  mat-card {
    flex: 1;
  }

  & > * {
    display: contents;
  }

  .no-items-to-display {
    min-height: 85px;
  }
}

// hide the TC "online only" scope option (for Leganto)
.options-container button[data-qa='online'] {
  display: none;
}
